* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #090e2b;
  color: #ffffff;
  font-family: verdana;
  width: 100%;
  font-size: 16px;
  line-height: 2;
}
header {
  padding: 20px;
}
main {
  font-size: 24px;
  text-align: center;
  width: 200px;
  margin: 0 auto;
  margin-top: 80px;
}

/* custom styles */

.flexR {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8;
  padding: 12px;
}
footer {
  position: absolute;
  bottom: 0;
  right: 40%;
  padding-bottom: 20px;
}

.center {
  text-align: center;
}
.button {
  padding: 8px 12px;
  border-radius: 8px;
  background-color: #003cff;
  color: white;
  font: inherit;
  cursor: pointer;
}
.button:active {
  background-color: #050a24;
}

#choose {
  color: gold;
}
