* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

@font-face {
  font-family: "Montserrat";
  src: url(Montserrat-Regular.ttf);
}
body {
  background-color: #090e2b;
  color: #ffffff;
  font-family: verdana;
  width: 100%;
  font-size: 16px;
  line-height: 2;
}
h1 {
  font-size: 30px;
}
header {
  padding: 20px;
}
main {
  font-size: 24px;
  text-align: center;
  width: 350px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 2px 2px #6767f1;
  border-radius: 12px;
  padding: 12px;
  margin-bottom: 16px;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  text-decoration-style: dotted;
  opacity: 60%;
}
/* custom styles */

.flexR {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8;
  padding: 12px;
}
.flexC {
  flex-direction: column;
}
footer {
  position: absolute;
  bottom: 0;
  right: 25%;
  padding-bottom: 20px;
  font-size: 14px;
}

.center {
  text-align: center;
}
.button {
  padding: 8px 12px;
  border-radius: 8px;
  background-color: #003cff;
  color: white;
  font: inherit;
  cursor: pointer;
}
.button:active {
  background-color: #050a24;
}

#choose {
  color: gold;
}

.scrambledImages {
  border-radius: 16px;
}
.gold {
  color: gold;
}

/* important */
.hidden {
  display: none;
}
.block {
  display: block;
}
.flexC .guess span {
  color: black;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  padding: 0 4px;
  background-color: gold;
  border: 1px solid gold;
  margin-right: 6px;
}

.flexC .guess span:hover {
  background-color: orange;
  border-color: orange;
}
.flexC .flexR span {
  color: green;
  border: 1px solid white;
  padding: 0 4px;
  border-radius: 4px;
}
.flexC button {
  color: #ffffff;
  background-color: #4c0381;
  border: none;
  outline: none;
  padding: 2px 6px;
  cursor: pointer;
  font: inherit;
  border-radius: 8px;
  font-size: 14px;
}
.flexC .flexR {
  justify-content: space-evenly;
}
.small {
  font-size: 12px;
}
.success {
  color: green;
  display: none;
}

.failure {
  display: none;
  color: red;
}
.small p {
  text-align: right;
  margin-right: 20px;
}
.prevNext {
  font-size: 14px;
  text-decoration: underline;
}
